{% extends "base.html" %}
{% block title %}Должности{% endblock %}
{% block content %}
<h2 class="text-center mt-3">Обращение по машине с номером {{data[0]['car_number']}}</h2>
<table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Номер машины</th>
                <th>Неисправность</th>
            </tr>
        </thead>
        <tbody>
        {% for i in range(len) %}
        <tr>
            <th>{{data[i]['car_number']}}</th>
            <th>{{data[i]['fault']}}</th>
            <th>
            <form method="POST" action="{{url_for('del_appeal', id=data[i]['appeal_number'])}}" class="d-inline-block">
                <input type="hidden" value="{{data[i]['appeal_number']}}" name="indexDeleted">
                <input  class="btn btn-outline-secondary" type="submit" value="Удалить" name="deleteAppeal"/>
            </form>
                <a href="{{url_for('change_appeal', id=data[i]['appeal_number'])}}" class="d-inline-block btn btn-outline-secondary">Изменить</a>
            </th>
        </tr>
        {% endfor %}
        </tbody>
</table>
<h2 class="text-center mt-3">Ремонтные работы машины с номером {{data[0]['car_number']}}</h2>
<table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Номер обращения</th>
                <th>Название детали</th>
                <th>Номер детали</th>
            </tr>
        </thead>
        <tbody>
        {% for i in range(lenr) %}
        <tr>
            <th>{{repair[i]['appeal_number']}}</th>
            <th>{{repair[i]['detail_name']}}</th>
            <th>{{repair[i]['detail_number']}}</th>
        </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock %}