{% extends "base.html" %}
{% block title %}Автосервисный центр{% endblock %}
{% block content %}
<h2 class="text-center mt-3">Наши клиенты</h2>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <form method="POST" class="d-inline-block pb-3" action="{{url_for('search_name_client')}}">
                <label>Поиск по имени и отчеству</label>
                <input class="form-control mb-3" name="name" placeholder="Введите имя" required="" />
            <input class="form-control" name="patronymic" placeholder="Введите Отчество" required="" />
                <input class="btn btn-outline-secondary d-inline-block mt-2" type="submit" value="Поиск" name="searchClient"/>
        </form>
    </div>
    <div class="col-lg-4 col-md-4">
 <form method="POST" class="d-inline-block" action="{{url_for('search_surname_client')}}">
                <label>Поиск по фамилии</label>
                <input class="form-control d-inline-block" name="search" required="" />
                <input class="btn btn-outline-secondary d-inline-block mt-2" type="submit" value="Поиск" name="searchClient"/>
                <a href="/index" class="btn btn-outline-secondary d-inline-block mt-2">Очистить фильтр</a>
 </form>
        <div class="col-lg-12 col-md-12 mt-4">
        <p>Всего записей выведено: {{len}}</p>
    </div>
    </div>
</div>
<table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                {% if session['priveleges'] == 1 %}
                <th>Телефон</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for i in range(len) %}
        <tr>
            <th>{{data[i]['name']}}</th>
            <th>{{data[i]['surname']}}</th>
            <th>{{data[i]['patronymic']}}</th>
            {% if session['priveleges'] == 1 %}
            <th>{{data[i]['phone']}}</th>
            <th class="d-flex justify-content-between">
            <form method="POST" class="d-inline-block">
                <input type="hidden" value="{{data[i]['id']}}" name="indexDeleted">
                <input  class="btn btn-outline-secondary" type="submit" value="Удалить" name="deleteClient"/>
            </form>
                <a href="{{url_for('change_client', id=data[i]['id'])}}" class="d-inline-block btn btn-outline-secondary">Изменить</a>
                <a href="{{url_for('show_client', id=data[i]['id'])}}" class="d-inline-block">Подробее</a>
            </th>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}