{% extends "base.html" %}
{% block title %}Автосервисный центр{% endblock %}
{% block content %}
<h2 class="text-center mt-3">Изменение данных рабочего</h2>
<table class="table table-striped table-bordered mt-5" style="width:100%">
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th>Адрес</th>
                <th>Телефон</th>
                <th>Рабочее время</th>
                <th>Надбавка за стаж</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th>{{data[0]['surname']}}</th>
            <th>{{data[0]['name']}}</th>
            <th>{{data[0]['patronymic']}}</th>
            <th>{{data[0]['birth_date']}}</th>
            <th>{{data[0]['address']}}</th>
            <th>{{data[0]['phone_number']}}</th>
            <th>{{data[0]['work_time']}}</th>
            <th>{{data[0]['prize']}}</th>
        </tr>
        <tr>
            {% for i in range(1, len) %}
            <th>
            <form method="POST">
                {% if names[i] == 'birth_date' %}
                <input type=date name="set" class="form-control" required="">
                {% else %}
                <input name="set" class="form-control" placeholder="Изменить" required="">
                {% endif %}
                <input name="param" class="form-control" type="hidden" value="{{names[i]}}">
                <br />
                <input  class="btn btn-outline-secondary" type="submit" value="Изменить" name="changeEmployee"/>
            </form>
                </th>
                {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}