{% extends "base.html" %}
{% block title %}Автосервисный центр{% endblock %}
{% block content %}
<h2 class="text-center mt-3">Изменение данных обращения</h2>
<table class="table table-striped table-bordered mt-5" style="width:100%">
        <thead>
            <tr>
                <th>Номер авто</th>
                <th>Неисправность</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th>{{data[0]['car_number']}}</th>
            <th>{{data[0]['fault']}}</th>
        </tr>
        <tr>
            {% for i in range(1, len) %}
            <th>
            <form method="POST">
                {% if names[i] == 'car_number' %}
                <select name="set" class="form-control">
                    <option value="{{cars[i-1]}}">{{cars[i-1]['car_number']}}</option>
                </select>
                {% else %}
                <input name="set" class="form-control" placeholder="Изменить" required="">
                {% endif %}
                <input name="param" class="form-control" type="hidden" value="{{names[i]}}">
                <br />
                <input  class="btn btn-outline-secondary" type="submit" value="Изменить" name="changePosition"/>
            </form>
                </th>
                {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}